%nav#navigation.navbar.scrollspy
  .container
    .navbar-brand
      -# %a{:href => "/"}
        -# %img{:alt => "Logo", :src => "images/logo.png"}/
        -# %i.fa.fa-assistive-listening-systems
    %ul.nav.navbar-nav
      %li{class: "#{should_activate('/')}"}
        %a{:href => "/"} Home
      - if isLogin?
        %li{class: "#{should_activate('questions')}"}
          %a{:href => "/questions"} Questions
      %li{class: "#{should_activate('community')}"}
        %a{:href => "/community"} Community

      - unless isLogin?
        %li{class: "#{should_activate('register')}"}
          %a{:href => "/register"} Sign Up
        %li{class: "#{should_activate('login')}"}
          %a{:href => "/login"} Log In
      - else
        %li{class: "#{should_activate('account')}"}
          %a{:href => "/account"} Account
        %li{class: "#{should_activate('logout')}"}
          %a{:href => "/logout"} Log Out
