!!!
%html{:lang => 'en', :prefix => 'og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml', :dir => 'ltr'}
  %head
    %title= t('title')
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet"}/

  %body
    = yield
    = render 'partials/footer'
