!!!
%html{:lang => 'en', :prefix => 'og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml', :dir => 'ltr'}
  %head
    %title= t('title')
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Hind:400,500,600,700'
    = stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css'

    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js'

    = csrf_meta_tags
  %body
    - flash.map do |item|
      %script
        Toast["#{item[0]}"]('#{flash[item[0]]}')


    = render 'partials/navbar'
    .content-wrapper
      = yield
    = render 'partials/footer'
